<div class="grid_2 alpha" id="left_arrow"><%= image_tag 'left_arrow.png' %></div>
<div class="grid_12">
	<section id="main_image">
		<h2 id="caption">Loading...</h2>
		<%= image_tag 'loading.png', :width => '100%' %>
		<div class="image_info" id="image_info">Loading...</div>
	</section>
</div>
<div class="grid_2 omega" id="right_arrow"><%= image_tag 'right_arrow.png' %></div>