<div class="grid_2 alpha">L</div>
<div class="grid_12">
	<section id="main_image">
		<h2 id="caption"><%= @photo.name %></h2>
		<%= image_tag @photo.image.url(:display), :width => '100%' %>
		<div class="image_info">2.8f 1/250 ISO 200</div>
	</section>
</div>
<div class="grid_2 omega"><%= image_tag 'right_arrow.png' %></div>
